<p>This is your training page...there's a code boilerplate to start with the first exercise:</p>

<code>
<pre>
  <code>
    &lt;turbo-frame id="update-me"&gt;
      &lt;h1&gt;This is the frame that will be replaced&lt;/h1&gt;
      &lt;a href="a_new_action_in_the_training_controller"&gt;Replace only the content of this turbo frame&lt;/a&gt;
    &lt;/turbo-frame&gt;
  </code>
</code>
