<p>
You see? Also the Browser URL has been updated.
</p>
<p>
This is one of the multiple options you have to replace the whole page.
</p>
<p>
But you have to choose one, otherwise only the content of the nearest frame is replaced.
</p>
<%=link_to 'Go back', :back %>
