<%= turbo_frame_tag 'update-me' do %>
  I got replaced. I can reload the previous content by simply calling the root page.
  <a href="/" class="btn btn-primary">Restore original content</a>
<% end %>
