<script async defer src="https://buttons.github.io/buttons.js" data-turbo-track="reload"></script>

<h1> Hello 👋, welcome to Turbo Showcase <i class="fas fa-rocket renuo-green"></i></h1>
<p class="mt-5">
  This is a <a href="https://turbo.hotwire.dev" target="_blank">Turbo</a> kitchen sink.
  We provide some Open Sourced example of what you can do with Turbo, with some explanations and links to help you.
</p>
<p>
  We highlighted all the turbo-frames with a green dotted border to make it uglier.
</p>
<p>
  You can inspect the source code of this page, and/or visit
  <a href="https://github.com/renuo/turbo-showcase" target="_blank">https://github.com/renuo/turbo-showcase</a>
  to see how we implemented stuff here.
</p>
<p>
  If you want to train yourself in using Turbo, we have a
  <%=link_to 'Training session', training_path %>
  where you can exercise. <i class="fas fa-dumbbell renuo-green"></i>
</p>
<p>
  Don't forget to give it a ⭐️
</p>
<a class="github-button" href="https://github.com/renuo/turbo-showcase" data-size="large" data-show-count="true" aria-label="Star renuo/turbo-showcase on GitHub">Star</a>
<div class="mb-3"></div>
